#messages {
    height: 500px;
    background-color: #efefef;
    color: #111;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.text-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.local-user {
    color: #317fff;
    font-weight: bold;
}