body {
    margin-bottom: 20px;
}
#messages {
    height: 500px;
    background-color: #efefef;
    color: #111;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.text-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.local-user {
    color: #317fff;
    font-weight: bold;
}

.server-user {
    color: #ff3224;
    font-weight: bold;
}

input {
    margin-bottom: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #github {
        margin: 21px 0 0 0;
    }

}